* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #FF3550;
}

.container {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }

}

@media (min-width:992px) {
  .container {
    width: 900px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1150px;
  }
}

.contactUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;

}

.contact_header {
  width: 100%;
  height: 150px;
  margin: 60px 0 20px 0;
  background-color: rgba(128, 128, 128, 0.527);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  color: #000000a9;
  font-size: 30px;
}

.contact_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
  width: 300px;
  height: 250px;

  .icon {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: all 0.5s ease-in-out;
  }

  &:hover .icon {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-size: 18px;
      font-weight: 900;
      color: #000000a6;
    }

    p {
      font-size: 16px;
      color: rgba(128, 128, 128, 0.712);
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--secondary-color);
      }
    }
  }
}
.comment{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 360px;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #FF3550;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #FF3550;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form button {
    background-color: #FF3550;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form button:hover {
    background-color: #ff355094;
  }
}

